* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope";
  background-color: #383e3c;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.eot");
  src: local("Manrope Bold"), local("Manrope-Bold"), url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Semibold.eot");
  src: local("Manrope Semibold"), local("Manrope-Semibold"), url("../fonts/Manrope-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Semibold.woff2") format("woff2"), url("../fonts/Manrope-Semibold.woff") format("woff"), url("../fonts/Manrope-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.eot");
  src: local("Manrope Regular"), local("Manrope-Regular"), url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.eot");
  src: local("Manrope Light"), local("Manrope-Light"), url("../fonts/Manrope-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Light.woff2") format("woff2"), url("../fonts/Manrope-Light.woff") format("woff"), url("../fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Thin.eot");
  src: local("Manrope Thin"), local("Manrope-Thin"), url("../fonts/Manrope-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Thin.woff2") format("woff2"), url("../fonts/Manrope-Thin.woff") format("woff"), url("../fonts/Manrope-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.eot");
  src: local("Manrope Medium"), local("Manrope-Medium"), url("../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.eot");
  src: local("Manrope ExtraBold"), local("Manrope-ExtraBold"), url("../fonts/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Header */
.header .container {
  max-width: 100%;
}

.header {
  width: 100%;
  height: 53px;
  padding: 0px 30px;
  background-color: rgba(0, 0, 0, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* BURGER MENU  */
#menu__toggle {
  opacity: 0;
  display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

#menu__toggle:checked ~ .menu__box1 {
  display: block;
  visibility: visible;
  left: 0;
}

.hamburger-menu {
  width: 168px;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 12px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.9647058824);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__box li:last-of-type {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #428770;
}

.menu__bottom {
  position: absolute;
  bottom: 110px;
}

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}

.vk {
  margin-right: 15px;
}

.button {
  color: #ffffff;
  font-size: 15px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 20px 50px;
  background: #428770;
  max-width: 300px;
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.popup {
  position: absolute;
  background: #ffffff;
  width: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
  padding-top: 60px;
}

.popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup form input {
  margin-bottom: 15px;
  height: 50px;
  font-size: 17px;
  border: 1px solid #000000;
  padding: 10px;
}

.popup form input[type=tel] {
  margin-bottom: 10px;
}

.popup-button {
  background: #000000;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  padding: 12px;
  cursor: pointer;
  border: none;
}

.popup-button:active {
  background: #428770;
  color: #FFF;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.no-scroll {
  overflow-y: hidden;
}

.popup-text {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-size: 35px;
}

.popup-text-down {
  color: #000;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}

.popup-a {
  color: #428770;
  letter-spacing: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-decoration: none;
}

#errorMess {
  color: #ff0000;
  font-size: 20px;
  margin: auto;
  margin-bottom: 10px;
}

/* Nav */
.img__logo {
  padding-top: 3px;
}

.nav1 {
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  margin-left: 16px;
}

.nav__link {
  display: inline-block;
  margin: 0 16px 0px 20px;
  position: relative;
  font-size: 17px;
  margin-bottom: 4px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.nav__link_menu {
  display: inline-block;
  margin: 0 15px;
  position: relative;
}

.nav__link:after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #428770;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav__link:hover {
  color: #428770;
}

.nav__link:hover:after,
.nav__link.active:after {
  width: 100%;
}

.nav__link.active {
  color: #428770;
}

.invalid-control {
  border-color: red !important;
}

.form-control {
  border: 1px solid;
}

@media (max-width: 770px) {
  .header__logo {
    display: none;
  }
  .nav__link {
    margin: 0 10px;
  }
}
@media (max-width: 335px) {
  .header {
    padding: 0px 15px;
  }
}
.intro {
  margin-top: 60px;
  text-align: center;
}

.intro .container {
  max-width: 1900px;
}

.intro__inner {
  margin-top: 15px;
}

.intro__img {
  width: 800px;
  height: 450px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px 2px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px 2px;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.intro__img img {
  width: initial;
  height: 100%;
}

.intro__a:hover .intro__img {
  opacity: 0.5;
}

.intro__a:hover .img__main {
  opacity: 1;
}

.img__title:hover {
  color: #fff;
}

.img__text:hover {
  color: #fff;
}

.filter__img {
  margin: 15px 20px;
}

.intro__a {
  position: relative;
  text-decoration: none;
}

.img__main {
  opacity: 0;
  color: white;
  font-size: 50px;
  font-weight: 200;
}

.img__title {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: text-shadow 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
  text-shadow: 0 0 20px #000;
}

.img__text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: text-shadow 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
  text-shadow: 0 0 20px #000;
}

@media (max-width: 1670px) {
  .intro__img {
    width: 650px;
    height: 380px;
  }
  .img__main {
    font-size: 40px;
  }
  .img__title {
    bottom: 60px;
  }
}
@media (max-width: 1376px) {
  .intro__img {
    width: 530px;
    height: 300px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 12px;
  }
  .img__main {
    font-size: 35px;
  }
}
@media (max-width: 1130px) {
  .intro__img {
    width: 47%;
    height: 260px;
    border-radius: 10px;
  }
  .img__main {
    font-size: 30px;
  }
  .img__title {
    bottom: 50px;
  }
}
@media (max-width: 946px) {
  .intro__img {
    height: 240px;
  }
  .img__main {
    font-size: 25px;
  }
  .img__title {
    bottom: 45px;
  }
}
@media (max-width: 770px) {
  .intro__img {
    height: 180px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
  }
  .img__main {
    font-size: 20px;
  }
  .img__title {
    bottom: 35px;
  }
}
@media (max-width: 630px) {
  .intro__img {
    width: 92%;
    height: 290px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
  }
  .img__main {
    font-size: 35px;
  }
  .img__title {
    bottom: 60px;
  }
}
@media (max-width: 540px) {
  .intro__img {
    height: 250px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
  }
  .img__main {
    font-size: 30px;
  }
  .img__title {
    bottom: 50px;
  }
}
@media (max-width: 460px) {
  .intro__img {
    height: 210px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
  }
  .img__main {
    font-size: 25px;
  }
  .img__title {
    bottom: 45px;
  }
}
@media (max-width: 335px) {
  .intro__img {
    height: 140px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
  }
  .img__main {
    font-size: 20px;
  }
  .img__title {
    bottom: 35px;
  }
}
.down {
  margin-top: 80px;
}

.down__h3 {
  font-weight: 200;
  font-size: 35px;
  letter-spacing: 3px;
}

.down__p {
  margin-left: 10px;
  font-weight: 200;
  font-size: 30px;
  color: #ccc;
}

.a_links {
  margin-left: 10px;
  color: #ccc;
  text-decoration: none;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.a_links:hover {
  color: #000;
}

.inner__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inner__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inner__grafik {
  width: 328px;
}

iframe {
  border-radius: 10px;
  border: 0;
}

@media (max-width: 1670px) {
  .down {
    margin-top: 60px;
  }
}
@media (max-width: 1130px) {
  .down {
    padding: 0 40px;
  }
  iframe {
    width: 400px;
  }
  .inner__adres .down__p {
    width: 402px;
  }
  .inner__grafik {
    width: auto;
  }
  .down__inner {
    padding: 0 30px;
  }
}
@media (max-width: 946px) {
  .inner__1,
  .inner__2 {
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }
  .down {
    padding: 0;
    margin-top: 30px;
  }
  .down__inner {
    padding: 0;
  }
  .inner__adres .down__p {
    width: 100%;
  }
  .inner__contacts {
    margin-bottom: 30px;
  }
  .inner__grafik {
    margin-bottom: 30px;
  }
  .a_links {
    margin-left: 0;
  }
  .down__p {
    margin-left: 0;
    padding: 0 10px;
  }
  iframe {
    border-radius: 0;
    margin-top: 10px;
    width: 100%;
  }
}
@media (max-width: 540px) {
  .a_links {
    font-size: 25px;
  }
  .down__h3 {
    font-size: 25px;
  }
  .down__p {
    font-size: 22px;
  }
}
@media (max-width: 292px) {
  .a_links {
    font-size: 20px;
  }
  .down__h3 {
    font-size: 20px;
  }
  .down__p {
    font-size: 18px;
  }
}
/* FOOTER */
.footer {
  margin-top: 50px;
}

.footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 30px 30px 0 0;
}

.ul-fixed {
  list-style-type: none;
}

.footer__katalog,
.footer__info,
.footer__social {
  letter-spacing: 1px;
}

.footer__info {
  display: grid;
  justify-items: start;
}

.katalog__title,
.info__title,
.social__title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
}

.katalog__text {
  font-weight: 400;
  color: #aaa;
}

.info__text {
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.info__text:hover {
  color: #428770;
}

.social__logos a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 2px;
  margin-right: 5px;
}

.social__logo_inst {
  background-image: url(../img/ico/inst.png);
  width: 22px;
  height: 22px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social__logo_vk {
  background-image: url(../img/ico/vk.png);
  width: 24px;
  height: 22px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social__logo_inst:hover {
  background-image: url(../img/ico/inst2.png);
}

.social__logo_vk:hover {
  background-image: url(../img/ico/vk2.png);
}

@media (max-width: 946px) {
  .footer {
    margin-top: 0;
  }
  .footer__all {
    border-radius: 0;
  }
  .katalog__title,
  .info__title,
  .social__title {
    font-size: 18px;
  }
  .info__text {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .footer__all {
    padding: 15px;
    text-align: center;
    display: block;
  }
  .footer__katalog,
  .footer__info,
  .footer__social {
    margin-bottom: 10px;
    text-align: center;
    display: block;
  }
  .katalog__title,
  .info__title,
  .social__title {
    font-size: 21px;
  }
  .info__text {
    font-size: 17px;
  }
  .ul-fixed {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about {
  margin-top: 60px;
}

.about__inner {
  position: relative;
  height: 600px;
}

.about__img {
  background-image: url(../img/bg/stolstol.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  position: absolute;
}

.about__filter {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgb(56, 62, 60)));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgb(56, 62, 60));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgb(56, 62, 60));
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
}

.about__title {
  position: absolute;
  left: calc(50% - 270px);
  top: 220px;
  font-size: 40px;
}

.about__title-title {
  font-weight: 200;
}

.about__text {
  position: absolute;
  left: calc(50% - 34px);
  top: 570px;
  font-size: 20px;
}

.about__title-text {
  font-weight: 200;
  font-size: 25px;
}

.slider {
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 100px;
}

.size-price {
  width: 150px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid black;
  background-color: #3d3d3d;
  color: white;
  font-family: Manrope;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  margin-right: 1px;
}

.size-color {
  width: 52px;
  height: 52px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: relative;
  margin-right: 5px;
}

.first-color {
  background-image: url("../img/ico/var1.png");
}

.second-color {
  background-image: url("../img/ico/var2.png");
}

.active {
  background-color: rgba(0, 92, 145, 0.4509803922);
  border: 1px solid #6d6d6d;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: 0px 0px 0px 1px #0071e3 !important;
          box-shadow: 0px 0px 0px 1px #0071e3 !important;
}

.price {
  margin-left: 30px;
  font-weight: 200;
  font-size: 30px;
  width: 140px;
}

.price__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.buy__button {
  margin-left: 74px;
  border: none;
  width: 100px;
  height: 45px;
  border-radius: 25px;
  background-color: #2799d5;
  color: white;
  font-family: "Manrope";
  font-size: 14px;
  cursor: pointer;
}

.popup-shop-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1001;
}

.popup-shop {
  position: absolute;
  background: #ffffff;
  width: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
  padding-top: 60px;
}

.popup-shop form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-shop form input {
  margin-bottom: 15px;
  height: 50px;
  font-size: 17px;
  border: 1px solid #000000;
  padding: 10px;
}

.popup-shop form input[type=tel] {
  margin-bottom: 10px;
}

.popup-shop-button {
  background: #000000;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  padding: 12px;
  cursor: pointer;
  border: none;
}

.popup-shop-button:active {
  background: #428770;
  color: #FFF;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.no-scroll {
  overflow-y: hidden;
}

.scroll {
  overflow-y: auto;
}

.popup-text {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-size: 35px;
}

.popup-text-down {
  color: #000;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}

.popup-a {
  color: #428770;
  letter-spacing: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-decoration: none;
}

#errorMessTable {
  color: #ff0000;
  font-size: 20px;
  margin: auto;
  margin-bottom: 10px;
}

.product-description {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.product-information {
  padding-left: 20px;
  padding-right: 20px;
}

table.iksweb {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

table tbody {
  font-weight: 200;
}

table.iksweb th {
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  background-color: #fff;
}

table.iksweb td {
  font-size: 20px;
  color: #fff;
}

table.iksweb td,
table.iksweb th {
  white-space: pre-wrap;
  padding: 18px 5px;
  line-height: 22px;
  vertical-align: middle;
  border: 1px solid #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

table.iksweb tr:hover {
  background-color: #d9d9d9;
}

table.iksweb tr:hover td {
  color: #000000;
  cursor: default;
}

.counter {
  margin: 20px 0 0 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buttonCountMinus,
#buttonCountPlus {
  font-family: Manrope;
  font-size: 22px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#buttonCountNumber {
  font-size: 22px;
}

.blockWbg {
  background-image: url(img/tables/1/1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.b1 {
  width: 800px;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
}

.slider-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.btn1,
.btn2 {
  position: absolute;
  width: 53px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn1 {
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.btn2 {
  top: 50%;
  right: 0;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

/* FULLSCREEN SLIDER */
.blockWbg1 {
  background-image: url(img/tables/1/1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.b2 {
  height: 100%;
  width: 100%;
}

.slider1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.btn3,
.btn4 {
  position: absolute;
  padding: 0;
  width: 53px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn3 {
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.btn4 {
  top: 50%;
  right: 0;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

/* POPUP */
.slider-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1000;
}

.slider-popup {
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 100%;
}

.slider-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1001;
  background: rgba(255, 255, 255, 0.71);
  border-radius: 10px;
  padding: 5px;
}

.no-scroll {
  overflow-y: hidden;
}

.chislo {
  position: absolute;
  font-size: 25px;
  color: black;
  background: rgba(255, 255, 255, 0.71);
  top: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 10px;
  padding: 0 5px;
}

.chislo1 {
  position: absolute;
  font-size: 25px;
  color: black;
  background: rgba(255, 255, 255, 0.71);
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 10px;
  padding: 0 5px;
}/*# sourceMappingURL=style.css.map */