* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope";
  background-color: #383e3c;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.eot");
  src: local("Manrope Bold"), local("Manrope-Bold"), url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Semibold.eot");
  src: local("Manrope Semibold"), local("Manrope-Semibold"), url("../fonts/Manrope-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Semibold.woff2") format("woff2"), url("../fonts/Manrope-Semibold.woff") format("woff"), url("../fonts/Manrope-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.eot");
  src: local("Manrope Regular"), local("Manrope-Regular"), url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.eot");
  src: local("Manrope Light"), local("Manrope-Light"), url("../fonts/Manrope-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Light.woff2") format("woff2"), url("../fonts/Manrope-Light.woff") format("woff"), url("../fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Thin.eot");
  src: local("Manrope Thin"), local("Manrope-Thin"), url("../fonts/Manrope-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Thin.woff2") format("woff2"), url("../fonts/Manrope-Thin.woff") format("woff"), url("../fonts/Manrope-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.eot");
  src: local("Manrope Medium"), local("Manrope-Medium"), url("../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.eot");
  src: local("Manrope ExtraBold"), local("Manrope-ExtraBold"), url("../fonts/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Header */
.header .container {
  max-width: 100%;
}

.header {
  width: 100%;
  height: 64px;
  padding: 0px 30px;
  background-color: rgba(0, 0, 0, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* BURGER MENU  */
#menu__toggle {
  opacity: 0;
  display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

#menu__toggle:checked ~ .menu__box1 {
  display: block;
  visibility: visible;
  left: 0;
}

.hamburger-menu {
  width: 168px;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 19px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.9647058824);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__box li:last-of-type {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #428770;
}

.menu__bottom {
  position: absolute;
  bottom: 110px;
}

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}

.vk {
  margin-right: 15px;
}

.button {
  color: #ffffff;
  font-size: 15px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 20px 50px;
  background: #428770;
  max-width: 300px;
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.popup {
  position: absolute;
  background: #ffffff;
  width: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
  padding-top: 60px;
}

.popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup form input {
  margin-bottom: 30px;
  height: 50px;
  font-size: 17px;
  border: 1px solid #000000;
  padding: 10px;
}

.popup form button[type=submit] {
  background: #000000;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  padding: 12px;
  cursor: pointer;
  border: none;
}

.popup form button[type=submit]:active {
  background: #428770;
  color: #FFF;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.no-scroll {
  overflow-y: hidden;
}

.popup-text {
  color: #000;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}

.popup-a {
  color: #428770;
  letter-spacing: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-decoration: none;
}

/* Nav */
.nav1 {
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  margin: 0 15px;
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.nav__link_menu {
  display: inline-block;
  margin: 0 15px;
  position: relative;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #428770;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.nav__link:hover {
  color: #428770;
}

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1;
}

.nav__link.active {
  color: #428770;
}

.invalid-control {
  border-color: red !important;
}

.form-control {
  border: 1px solid;
}

.intro {
  margin-top: 70px;
  text-align: center;
}

.intro .container {
  max-width: 1900px;
}

.intro__inner {
  margin-top: 15px;
}

.intro__img {
  width: 800px;
  height: 450px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px 2px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px 2px;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.intro__img img {
  width: initial;
  height: 100%;
}

.intro__a:hover .intro__img {
  opacity: 0.5;
}

.intro__a:hover .img__main {
  opacity: 1;
}

.img__title:hover {
  color: #fff;
}

.img__text:hover {
  color: #fff;
}

.intro:after {
  content: "";
}
.filter__img {
  margin: 15px 20px;
}

.intro__a {
  position: relative;
  text-decoration: none;
}

.img__main {
  position: absolute;
  opacity: 0;
  color: white;
  font-size: 50px;
  font-weight: 200;
}

.img__title {
  bottom: 100px;
  left: 190px;
  -webkit-transition: text-shadow 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
  text-shadow: 0 0 20px #000;
}

.img__text {
  bottom: 20px;
  left: 327px;
  -webkit-transition: text-shadow 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
  text-shadow: 0 0 20px #000;
}

.down {
  margin-top: 80px;
}

.down__inner {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

h3 {
  font-weight: 200;
  font-size: 50px;
  letter-spacing: 3px;
}

p {
  margin-left: 10px;
  font-weight: 200;
  font-size: 35px;
  color: #ccc;
}

.a_links {
  margin-left: 10px;
  color: #ccc;
  text-decoration: none;
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.a_links:hover {
  color: #000;
}

.inner__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.inner__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner__adres {
  width: 400px;
}

/* FOOTER */
.footer {
  margin-top: 50px;
}

.footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 30px 30px 0 0;
}

.ul-fixed {
  list-style-type: none;
}

.footer__katalog,
.footer__info,
.footer__social {
  letter-spacing: 1px;
}

.footer__info {
  display: grid;
  justify-items: start;
}

.katalog__title,
.info__title,
.social__title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
}

.katalog__text {
  font-weight: 400;
  color: #aaa;
}

.info__text {
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.info__text:hover {
  color: #428770;
}

.social__logos a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 2px;
  margin-right: 5px;
}

.social__logo_inst {
  background-image: url(../img/inst.png);
  width: 22px;
  height: 22px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social__logo_vk {
  background-image: url(../img/vk.png);
  width: 24px;
  height: 22px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social__logo_inst:hover {
  background-image: url(../img/inst2.png);
}

.social__logo_vk:hover {
  background-image: url(../img/vk2.png);
}

.about {
  margin-top: 60px;
}

.about__inner {
  position: relative;
  height: 600px;
}

.about__img {
  background-image: url(../img/stolstol.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  position: absolute;
}

.about__filter {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgb(56, 62, 60)));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgb(56, 62, 60));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgb(56, 62, 60));
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
}

.about__title {
  position: absolute;
  left: calc(50% - 270px);
  top: 220px;
  font-size: 40px;
}

.about__title-title {
  font-weight: 200;
}

.about__text {
  position: absolute;
  left: calc(50% - 34px);
  top: 570px;
  font-size: 20px;
}

.about__title-text {
  font-weight: 200;
  font-size: 25px;
}

.table__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.table__image img {
  width: 100%;
  max-width: 1200px;
  max-height: 1080px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.table-name-name {
  text-align: center;
  margin: 80px 0 0 0;
  font-size: 30px;
}

.table-slade {
  text-align: center;
  margin: 100px 0 -80px 0;
}

.slider {
  width: 70%;
  margin: 100px auto;
  max-width: 1200px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(255, 255, 255);
}

.slick-slide {
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */