* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope";
  background-image: -o-linear-gradient(314deg, #112a5e 0.62%, #323654 83.44%);
  background-image: linear-gradient(136deg, #112a5e 0.62%, #323654 83.44%);
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.eot");
  src: local("Manrope Bold"), local("Manrope-Bold"), url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Semibold.eot");
  src: local("Manrope Semibold"), local("Manrope-Semibold"), url("../fonts/Manrope-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Semibold.woff2") format("woff2"), url("../fonts/Manrope-Semibold.woff") format("woff"), url("../fonts/Manrope-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.eot");
  src: local("Manrope Regular"), local("Manrope-Regular"), url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.eot");
  src: local("Manrope Light"), local("Manrope-Light"), url("../fonts/Manrope-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Light.woff2") format("woff2"), url("../fonts/Manrope-Light.woff") format("woff"), url("../fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Thin.eot");
  src: local("Manrope Thin"), local("Manrope-Thin"), url("../fonts/Manrope-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Thin.woff2") format("woff2"), url("../fonts/Manrope-Thin.woff") format("woff"), url("../fonts/Manrope-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.eot");
  src: local("Manrope Medium"), local("Manrope-Medium"), url("../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.eot");
  src: local("Manrope ExtraBold"), local("Manrope-ExtraBold"), url("../fonts/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Header */
.header .container {
  max-width: 1200px;
}

.header {
  width: 100%;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  background-image: url(../img/menu1.png);
  width: 33px;
  height: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__menu:hover {
  background-image: url(../img/menu2.png);
  width: 33px;
  height: 20px;
}

/* BURGER MENU  */
/* Nav */
.nav1 {
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  margin: 0 15px;
  position: relative;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.nav__link_menu {
  display: inline-block;
  margin: 0 15px;
  position: relative;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #4069ff;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.nav__link:hover {
  color: #4069ff;
}

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1;
}

.nav__link.active {
  color: #4069ff;
}

.intro {
  margin-top: 130px;
  text-align: center;
}

.intro__inner {
  margin-top: 15px;
}

.intro__img {
  width: 800px;
  height: 450px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px 2px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px 2px;
}

.intro__img img {
  width: initial;
  height: 100%;
}

.intro:after {
  content: "";
}
.filter__img {
  margin: 15px 20px;
}

.down__inner {
  padding: 15px;
}

h3 {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 3px;
}

p {
  font-weight: 200;
  font-size: 35px;
}

.a_links {
  color: #fff;
  text-decoration: none;
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.inner__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.inner__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* FOOTER */
.footer {
  margin-top: 50px;
}

.footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 30px 30px 0 0;
}

.ul-fixed {
  list-style-type: none;
}

.footer__katalog,
.footer__info,
.footer__social {
  margin-right: 50px;
  letter-spacing: 1px;
}

.footer__info {
  display: grid;
  justify-items: start;
}

.katalog__title,
.info__title,
.social__title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
}

.katalog__text {
  font-weight: 500;
}

.info__text {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.info__text:hover {
  color: #4069ff;
}

.social__logos a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 2px;
  margin-right: 5px;
}

.social__logo_inst {
  background-image: url(../img/inst.png);
  width: 22px;
  height: 22px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social__logo_vk {
  background-image: url(../img/vk.png);
  width: 24px;
  height: 22px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social__logo_inst:hover {
  background-image: url(../img/inst2.png);
}

.social__logo_vk:hover {
  background-image: url(../img/vk2.png);
}/*# sourceMappingURL=style.css.map */