.down
    margin-top: 80px
.down__inner
    padding-left: 115px
    padding-top: 20px
    padding-right: 20px

.down__h3
    font-weight: 200
    font-size: 35px
    letter-spacing: 3px

.down__p
    margin-left: 10px
    font-weight: 200
    font-size: 30px
    color: #ccc
    width: 295px

.a_links
    margin-left: 10px
    color: #ccc
    text-decoration: none
    font-size: 30px
    font-weight: 200
    letter-spacing: 1px
    border-bottom-width: 1px
    border-bottom-style: solid
    transition: color .1s linear

.a_links:hover
    color: #000

.inner__1
    display: flex
    margin-bottom: 100px

.inner__2
    display: flex

.inner__grafik
    margin-right: 130px

.inner__contacts
    margin-right: 110px

// .inner__maps
//     margin-right: 159px
