.down 
    margin-top: 80px
.down__inner
    padding-left: 20px
    padding-top: 20px
    padding-right: 20px

h3 
    font-weight: 400
    font-size: 50px
    letter-spacing: 3px

p 
    margin-left: 10px
    font-weight: 200
    font-size: 35px

.a_links
    margin-left: 10px
    color: #ccc
    text-decoration: none
    font-size: 35px
    font-weight: 200
    letter-spacing: 2px
    border-bottom-width: 1px
    border-bottom-style: solid    
    transition: color .1s linear

.a_links:hover
    color: #000

.inner__1
    display: flex
    justify-content: space-between
    margin-bottom: 100px

.inner__2 
    display: flex
    justify-content: space-between

.inner__adres
    width: 400px

.inner__grafik
    //margin-right: 179px