/* Header */
.header .container 
  max-width: 1200px


.header 
    width: 100%
    padding: 15px 30px


    background-color: rgba(255, 255, 255, 0.3)
    backdrop-filter: blur(8px)
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 1000


.header__inner 
    display: flex
    justify-content: space-between
    align-items: center


.header__menu 
  background-image: url(../img/menu1.png)

  width: 33px
  height: 20px

  transition: all 0.2s ease-in-out


.header__menu:hover 
  background-image: url(../img/menu2.png)

  width: 33px
  height: 20px



/* BURGER MENU  */



/* Nav */
.nav1 
    font-size: 30px
    font-weight: 200
    text-transform: uppercase


.nav__link 
    display: inline-block
    margin: 0 15px
    position: relative

    color: #fff
    text-decoration: none

    transition: color .1s linear


.nav__link_menu 

  display: inline-block
  margin: 0 15px
  position: relative




.nav__link:after 
    content: ""
    display: block
    width: 100%
    height: 3px

    background-color: #4069ff
    opacity: 0

    position: absolute
    top: 100%
    left: 0
    z-index: 1

    transition: opacity .1s linear


.nav__link:hover 
    color: #4069ff


.nav__link:hover:after,
.nav__link.active:after 
    opacity: 1


.nav__link.active 
    color: #4069ff


