.intro
  margin-top: 60px
  text-align: center

.intro .container
  max-width: 1900px

.intro__inner
  margin-top: 15px

.intro__img
  width: 800px
  height: 450px

  margin-left: 10px
  margin-right: 10px
  margin-top: 20px
  object-fit: cover
  border-radius: 15px
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 24px 2px
  transition-duration: .25s

.intro__img
  img
    width: initial
    height: 100%

.intro__a:hover .intro__img
  opacity: 0.5

.intro__a:hover .img__main
  opacity: 1

.img__title:hover
  color: #fff

.img__text:hover
  color: #fff

.filter__img
  margin: 15px 20px

.intro__a
  position: relative
  text-decoration: none

.img__main
  opacity: 0

  // color: #428770
  color: white
  font-size: 50px
  font-weight: 200

.img__title
  position: absolute
  bottom: 80px
  left: 50%
  width: 80%
  transform: translate(-50%,0)
  transition: text-shadow 0.5s ease
  text-shadow: 0 0 20px #000

.img__text
  position: absolute
  bottom: 10px
  left: 50%
  width: 80%
  transform: translate(-50%,0)
  transition: text-shadow 0.5s ease
  text-shadow: 0 0 20px #000

// ADAPTIV

@media (max-width: 1670px)
  .intro__img
    width: 650px
    height: 380px

  .img__main
    font-size: 40px

  .img__title
    bottom: 60px

@media (max-width: 1376px)
  .intro__img
    width: 530px
    height: 300px
    margin-left: 8px
    margin-right: 8px
    margin-top: 12px

  .img__main
    font-size: 35px

@media (max-width: 1130px)
  .intro__img
    width: 47%
    height: 260px
    border-radius: 10px

  .img__main
    font-size: 30px

  .img__title
    bottom: 50px

@media (max-width: 946px)
  .intro__img
    // width: 350px
    height: 240px

  .img__main
    font-size: 25px

  .img__title
    bottom: 45px

@media (max-width: 770px)
  .intro__img
    // width: 290px
    height: 180px
    margin-left: 5px
    margin-right: 5px
    margin-top: 8px

  .img__main
    font-size: 20px

  .img__title
    bottom: 35px

@media (max-width: 630px)
  .intro__img
    width: 92%
    height: 290px
    margin-left: 5px
    margin-right: 5px
    margin-top: 15px

  .img__main
    font-size: 35px

  .img__title
    bottom: 60px

@media (max-width: 540px)
  .intro__img
    // width: 420px
    height: 250px
    margin-left: 5px
    margin-right: 5px
    margin-top: 15px

  .img__main
    font-size: 30px

  .img__title
    bottom: 50px

@media (max-width: 460px)
  .intro__img
    // width: 300px
    height: 210px
    margin-left: 5px
    margin-right: 5px
    margin-top: 10px

  .img__main
    font-size: 25px

  .img__title
    bottom: 45px

@media (max-width: 335px)
  .intro__img
    // width: 230px
    height: 140px
    margin-left: 5px
    margin-right: 5px
    margin-top: 5px

  .img__main
    font-size: 20px

  .img__title
    bottom: 35px
