.intro 
  margin-top: 70px
  text-align: center

.intro .container
  min-width: 1900px

.intro__inner 
  margin-top: 15px



.intro__img 
  width: 800px
  height: 450px

  margin-left: 20px
  margin-right: 20px
  margin-top: 20px
  object-fit: cover
  border-radius: 30px
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 24px 2px


.intro__img 
  img 
    width: initial
    height: 100%


.intro:after 
  content:''
  display:table
  clear:both


.filter__img 
  margin: 15px 20px
