.table__image 
    display: flex
    align-items: center
    flex-direction: column
    padding: 15px

.table__image img
    width: 100%
    max-width: 1200px
    max-height: 1080px
    object-fit: cover
    border-radius: 10px

.table-name-name
    text-align: center
    margin: 80px 0 0 0
    font-size: 30px

.table-slade
    text-align: center
    margin: 30px 0 -80px 0





// SLIDER

.slider 
    width: 70%
    margin: 100px auto
    max-width: 1200px

.slick-slide 
    margin: 0px 20px

    
.slick-slide 
    img 
        width: 100%

.slick-prev:before,
.slick-next:before 
    color: rgb(255, 255, 255)

.slick-slide 
    transition: all ease-in-out .3s
    opacity: .2

.slick-active 
    opacity: .5

.slick-current 
    opacity: 1
