// SLIDER

.slider
    margin-top: 100px
    padding-left: 10px
    padding-right: 10px
    margin-bottom: 100px

.size-price
    width: 150px
    padding: 10px
    font-size: 15px
    border: 1px solid black
    background-color: #3d3d3d
    color: white
    font-family: Manrope
    cursor: pointer
    transition: all ease .3s
    margin-right: 1px

.size-color
    width: 52px
    height: 52px
    padding: 10px
    border: 1px solid black
    cursor: pointer
    transition: all ease .3s
    position: relative
    margin-right: 5px

.first-color
    background-image: url('../img/ico/var1.png')

.second-color
    background-image: url('../img/ico/var2.png')

.active
    background-color: #005c9173
    border: 1px solid #6d6d6d
    transition: all ease .3s
    box-shadow: 0px 0px 0px 1px #0071e3 !important

.price
    margin-left: 30px
    font-weight: 200
    font-size: 30px
    width: 140px

.price__button
    display: flex
    margin-right: 10px

//  SHOP

.buy__button
    margin-left: 74px
    border: none
    width: 100px
    height: 45px
    border-radius: 25px
    background-color: #2799d5
    color: white
    font-family: 'Manrope'
    font-size: 14px
    cursor: pointer

.popup-shop-bg
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.8)
    display: none
    z-index: 1001

.popup-shop
    position: absolute
    background: #ffffff
    width: 400px
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    padding: 30px
    padding-top: 60px

.popup-shop form
    display: flex
    flex-direction: column

.popup-shop form input
    margin-bottom: 15px
    height: 50px
    font-size: 17px
    border: 1px solid #000000
    padding: 10px

.popup-shop form input[type="tel"]
    margin-bottom: 10px

.popup-shop-button
    background: #000000
    color: #ffffff
    font-size: 20px
    font-weight: 200
    padding: 12px
    cursor: pointer
    border: none

.popup-shop-button:active
    background: #428770
    color: #FFF

.close-popup
    position: absolute
    top: 10px
    right: 10px
    cursor: pointer

.no-scroll
    overflow-y: hidden

.scroll
    overflow-y: auto

.popup-text
    color: #000
    font-size: 18px
    font-weight: 400
    text-align: center
    font-size: 35px

.popup-text-down
    color: #000
    font-size: 18px
    margin-bottom: 30px
    font-weight: 400

.popup-a
    color: #428770
    letter-spacing: 2px
    border-bottom-width: 1px
    border-bottom-style: solid
    text-decoration: none

#errorMessTable
    color: #ff0000
    font-size: 20px
    margin: auto
    margin-bottom: 10px

// PRODUCT INFO

.product-description
    padding-left: 20px
    padding-right: 20px
    margin-bottom: 50px

.product-information
    padding-left: 20px
    padding-right: 20px

table.iksweb
    text-decoration: none
    border-collapse: collapse
    width: 100%
    text-align: center

table tbody
    font-weight: 200

table.iksweb th
    font-weight: normal
    font-size: 20px
    color: #ffffff
    background-color: #fff
table.iksweb td
    font-size: 20px
    color: #fff
table.iksweb td,
table.iksweb th
    white-space: pre-wrap
    padding: 18px 5px
    line-height: 22px
    vertical-align: middle
    border: 1px solid #fff
    transition: all .2s linear
table.iksweb tr:hover
    background-color: #d9d9d9
table.iksweb tr:hover td
    color: #000000
    cursor: default

// COUNTER

.counter
    margin: 20px 0 0 30px
    display: inline-flex
    column-gap: 7px
    align-items: center

#buttonCountMinus,
#buttonCountPlus
    font-family: Manrope
    font-size: 22px
    flex: 0 0 40px
    height: 40px
    border: none
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

#buttonCountNumber
    font-size: 22px

// test slider

.blockWbg
    background-image: url(img/tables/1/1.jpg)
    background-repeat: no-repeat
    background-size: contain
    background-position: center

.b1
    width: 800px
    border: 1px solid rgb(0 0 0)
    background-color: white
    border-radius: 10px

.slider-slider
    display: flex
    position: relative

.btn1,
.btn2
    position: absolute
    width: 53px

    color: white
    border: none
    cursor: pointer

.btn1
    top: 50%
    left: 0
    transform: translate(0%, -50%)

.btn2
    top: 50%
    right: 0
    transform: translate(0%, -50%)

/* FULLSCREEN SLIDER */

.blockWbg1
    background-image: url(img/tables/1/1.jpg)
    background-repeat: no-repeat
    background-size: contain
    background-position: center

.b2
    height: 100%
    width: 100%

.slider1
    display: flex
    position: relative
    width: 100%
    max-width: 100%
    height: 100%

.btn3,
.btn4
    position: absolute
    padding: 0
    width: 53px

    color: white
    border: none
    cursor: pointer

.btn3
    top: 50%
    left: 0
    transform: translate(0%, -50%)

.btn4
    top: 50%
    right: 0
    transform: translate(0%, -50%)

/* POPUP */
.slider-popup-bg
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.8)
    display: none
    z-index: 1000

.slider-popup
    position: absolute
    background: #ffffff
    width: 100%
    height: 100%

.slider-close-popup
    position: absolute
    top: 10px
    right: 10px
    cursor: pointer
    z-index: 1001
    background: rgb(255 255 255 / 71%)
    border-radius: 10px
    padding: 5px

.no-scroll
    overflow-y: hidden

.chislo
    position: absolute
    font-size: 25px
    color: black
    background: rgb(255 255 255 / 71%)
    top: 1%
    left: 50%
    transform: translate(-50%,0)
    border-radius: 10px
    padding: 0 5px

.chislo1
    position: absolute
    font-size: 25px
    color: black
    background: rgb(255 255 255 / 71%)
    left: 50%
    transform: translate(-50%,0)
    border-radius: 10px
    padding: 0 5px
